@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lucky Me</h1>
    <p class="lead">&#201;s o maior sortudo l&#225; do s&#237;tio?</p>
    <p>Regista-te j&#225; ou entra e come&#231;a j&#225; a registar os teus jogos para veres as tuas estat&#237;sticas</p>
</div>

@Html.Partial("Login")