@model IEnumerable<LuckyMe.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Choose Game</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Select", "Draw", new { id=item.Id })
        </td>
    </tr>
}

</table>
