@model IEnumerable<LuckyMe.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Escolhe o Jogo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Draw", new { id=item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
    </tr>
}

</table>
